body {
    padding: 1.7rem 0.7rem ;
}

#main {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.4rem;
}

#image {
    max-width: 94%;
    margin: 0 auto;

}

#img-div {
    display: flex;
    justify-content: center;
    width: 100%;


}